.test{
    display: flex;
    margin: 20px;
    width: 200px;
}

.box{
    --tw-bg-opacity: 1;
    background-color: rgb(65 146 125 / var(--tw-bg-opacity));
    height:16rem;
    border-radius: 8px;
}