.JournalPost-container {
    border: var(--darkgrey) 1px solid;
    border-radius: var(--xs);
    margin-top: var(--m);
  }
  
  .JournalPost-container:first-of-type {
    margin-top: var(--l);
  }
  
  .JournalPost-entry,
  .JournalPost-commentSection {
    padding: var(--m) var(--l);
  }
  
  .JournalPost-entryUser {
    font-size: 20px;
    font-weight: 600;
  }
  
  .JournalPost-entryContent {
    font-size: 40px;
    margin: var(--s) 0 0;
  }
  
  .JournalPost-commentSection {
    background-color: var(--grey);
    border-top: 1px solid var(--darkgrey);
  }
  
  .JournalPost-commentBody {
    margin: 0 0 var(--s);
  }
  