.NewInput-input,
.NewInput-button {
  font-family: "Mukta";
  font-size: 14px;
  padding: var(--s) var(--m);
}

.NewInput-comment {
  border: var(--darkgrey) 1px solid;
  border-radius: var(--xs) 0 0 var(--xs);
  transition: box-shadow 0.1s;
}

.NewInput-entry {
  height: 800px;
  width: 1000px;
  font-size: 20px;
  padding: var(--s) var(--m);
  overflow-wrap: break-word;
}

.NewInput-input:focus-within {
  border-color: var(--primary--dim);
  box-shadow: 0 0 0 var(--xs) rgba(0, 123, 255, 0.25);
}

.NewInput-button {
  color: var(--primary);
  border: var(--primary) 1px solid;
  border-radius: 0 var(--xs) var(--xs) 0;
  background: none;
  transition: color 0.1s, background 0.1s;
}

.NewInput-button:hover {
  color: var(--white);
  background-color: var(--primary);
}
