@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@400&display=swap");

.Sidebar-container {
  font-family: "Mukta";
  transition: 1s ease;
  font-weight: 500;
}

.Sidebar-toggle {
  position: absolute;
  top: 45%;
  bottom: 45%;
  left: 100%;
  padding: 1%;
}

.Sidebar-container[minimized="1"] {
  width: 0;
}

.Sidebar-container[minimized="1"] > div {
  transition: 1s ease;
  padding-left: 0;
  padding-right: 0;
}
